body{
    text-align: center;
    font-size: 17px;
}

table{
    border: 1px solid black;
    width: 50%;
    padding: 1px;

}

td{
    border:1px solid black;
}

#negrita{
    font-weight: bold;
    
}

#texto{
    text-align: left;  
}

