table
{
    border: 3px outset;
}

th, td
{
    width: 25%;
    border: 2px solid rgb(138, 137, 207);
}

td
{
    background-color: rgb(122, 238, 180);
}

th
{
    background-color: black;
    color: rgb(122, 238, 180);
}

.oscuro
{
    background-color: rgb(72, 172, 113);
}
